[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchmetrics = "1.2.0"
pytorch-lightning = "2.1.1"
torchvision = "0.16.0"
fastapi = "0.104.1"
uvicorn = "0.24.0.post1"
streamlit = "1.28.2"
streamlit-mnist-canvas = "0.1.1"

[dev-packages]

[requires]

